<head>
    <title>FCC Voting App</title>
     
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/dist/app.css">
    
    <!-- Progressive Web App -->
    
    <link rel="manifest" href="manifest.json">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="FCC VOTING">
    <meta name="apple-mobile-web-app-title" content="FCC VOTING">
    <meta name="theme-color" content="#222222">
    <meta name="msapplication-navbutton-color" content="#222222">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-starturl" content="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="icon" sizes="512x512" href="dist/FCC-Voting.png">
    <link rel="apple-touch-icon" sizes="512x512" href="dist/FCC-Voting.png">
    <link href="dist/apple_splash_2048.png" sizes="2048x2732" rel="apple-touch-startup-image" />
    <link href="dist/apple_splash_1668.png" sizes="1668x2224" rel="apple-touch-startup-image" />
    <link href="dist/apple_splash_1536.png" sizes="1536x2048" rel="apple-touch-startup-image" />
    <link href="dist/apple_splash_1125.png" sizes="1125x2436" rel="apple-touch-startup-image" />
    <link href="dist/apple_splash_1242.png" sizes="1242x2208" rel="apple-touch-startup-image" />
    <link href="dist/apple_splash_750.png" sizes="750x1334" rel="apple-touch-startup-image" />
    <link href="dist/apple_splash_640.png" sizes="640x1136" rel="apple-touch-startup-image" />
    
    <script>
      if("serviceWorker" in navigator) {
        try{
        navigator.serviceWorker.register('service-worker.js');
        console.log(`serviceWorker registered!`);
        } catch(error) {
          console.log('Registration failed');
        }
      }
    </script>
    
</head>