@import "_btn-twitter"
@import "_btn-darken"
@import "_btn-facebook"
@import "_btn-linkedIn"
@import "_logo-svg"
@import "_modal"

body
  padding-bottom: 70px

a,
a:hover
  text-decoration: none
  color: #000
  
li
  list-style: none

.navbar-inverse
  .navbar-brand,
  .navbar-text,
  .navbar-nav
    color: #ccc

.navbar-text
  margin-bottom: 0

.fa-free-code-camp
  color: #fff

.jumbotron
  background: #337AB7
  color: #fff

.shadow
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8)

.icon
  width: 30px
  
.avatar
  width: 60px
  
.dataViz
  height: 360px

.navbar
  .btn
    margin-top: 10px

.hidden
  display: none
  
  